/*estilos barra de navegacion*/

.nav-color{
    background-color: white;
    box-shadow: 1px 1px 5px 1px #ccc;
}
.color_dropdown{
    background-color: #4CAF4F;
    border-radius: 5px;
}

.color_dropdown:hover{

    background-color: #71d475;
    border-radius: 5px;
}
/*estilos sesion inicio*/
.sesion-inicio{
    background-color: white;
    width: 100%;
    height: 400px;
}